Source: paragon
Section: games
Priority: extra
Maintainer: Meteoric Games Ltd <support@meteoricgames.com>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf,
	libsigc++-2.0-dev, libglew-dev,
	libsdl2-dev, libvorbis-dev, libsdl2-image-dev,
	liblua5.2-dev, libfreetype6-dev, libassimp-dev (>= 3)
Standards-Version: 3.9.1
Homepage: http://paragongame.com/
#Vcs-Git: https://github.com/ParagonDevelopmentTeam/pioneer.git
#Vcs-Browser: https://github.com/ParagonDevelopmentTeam/pioneer

Package: paragon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, paragon-data (= ${binary:Version})
Description: Paragon is an open world space sim for Windows, Mac and Linux. 
 Set in a vast open universe, it combines varied gameplay with an atmospheric 
 backstory to create an immersive and engaging single player experience.

Package: paragon-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paragon is an open world space sim for Windows, Mac and Linux. 
 Set in a vast open universe, it combines varied gameplay with an atmospheric 
 backstory to create an immersive and engaging single player experience.
 .
 This package contains the data files.
